/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

::selection {
  background: rgb(105, 255, 105);
  color: #fff;
}

body {
  font-family: "Inter", sans-serif;
}

.btn__active{
  background: #15803d;
  color: #fff;
  font-weight: 600;
}
